<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="/styles/main.css" rel="stylesheet" />
  </head>
  <body>
    <!-- WELCOME SECTION STARTS HERE -->
    <div class="container mt-5">
      <h1 class="text-center mb-4">Welcome to the Car service!</h1>
      <p class="text-center">
        Thank you for Spending your Valuable Time. We hope you enjoy your Service time here. Have A Happy Miles ahead!
      </p>

      <div class="text-center">
        <a href="/auth/login" class="btn btn-primary mybutton">Login</a>
        <a href="/auth/register" class="btn btn-success mybutton">Register</a>
      </div>
    </div>

    <div class="container-fluid d-flex justify-content-center">
      <img src="/images/logo.png" class="logo-small" />
    </div>
  </body>
</html>
